.exp {
    color: white;
    margin-top: 8%;
}
.exp h3 {
    color: white;
    font-family: "roboto", sans-serif;
    font-size: 30px;
    height:auto;
    margin-bottom: 10%;
}
.exp__education {
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
    background-color: #202026;
    box-shadow: -1rem 0 3rem #000;
}
.exp__work {
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
    background-color: #202026;
    box-shadow: -1rem 0 3rem #000;
}
.exp__colorDetails{
    color: #11bb9f;
}