.exp {
    color: white;
    margin-top: 8%;
}
.exp h3 {
    color: white;
    font-family: "roboto", sans-serif;
    font-size: 30px;
    height:auto;
    margin-bottom: 10%;
}
.exp__education {
    transition: 2.5s;
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
    background-color: #202026;
    box-shadow: -1rem 0 3rem #000;
}
.exp__work {
    margin-bottom: 30px;
    padding: 26px 30px;
    border-radius: 4px;
    background-color: #202026;
    box-shadow: -1rem 0 3rem #000;
}
.exp__colorDetails{
    color: #11bb9f;
}

@-webkit-keyframes exp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.exp {
    animation-duration: 4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: both
}

.exp {
    opacity: 0
}

.exp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}