.nav {
    justify-content: space-around;
    align-items: center;
    margin: auto;
    background-color: #1f1f24;
}
.nav__logo {
    height: 80px;
    object-fit: contain;
    
}
.nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__links li {
    font-weight: bold;
    font-family: "roboto", sans-serif;
    font-size: 18px;
    opacity: 1;
    line-height: 30px;
    color: white;
    display: inline;
    list-style: none;
    padding-left: 20px;
}
.nav__links li:hover {
    color:#11bb9f;
    transition: 0.7s;
}
.nav__links a {
    color: transparent;
}

@media screen and (max-width: 768px) {
    .nav__links  {
        display: none;
    }
  }